{{e-back}}

<h1>Acerca de editor-de-prueba</h1>


<p>
  Este proyecto es solo una prueba, mi intensión es analizar
  si es viable construir un editor para pilas-engine usando
  ember, html5 y electron.
</p>


{{outlet}}
